
<form class="form-inline" role="form" name="formAdd"  ng-submit="addItem(formAdd)" novalidate="novalidate" >
  <h2>
  Insert an item
  </h2>
<fieldset>

    <div  class="form-group">
      <label class="sr-only">Time Spent</label>
      <input type="text" class="form-control" name="itemTime" ng-model="itemTime" placeholder="Time Spent" ui-time-mask="short" required />
    </div>
    <div class="form-group">
      <label class="sr-only">Type</label>
      <select class="form-control" id="repeatSelect" name="itemType" ng-model="itemType" placeholder="Item Type" required>
        <option value="" disabled selected>Type</option>
        <option ng-repeat="option in listType" value="{{option.id}}">{{option.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="sr-only">Date</label>
      <input type="date" class="form-control" name="itemDate" ng-model="itemDate" required />
    </div>
    <button type="submit" class="btn btn-default" title="Add">Add</button>
</fieldset>
<div ng-messages="formAdd.itemTime.$error" ng-if="formSubmitted" style="color:#ff6666" role="alert">
  <div ng-message="required">- Time field required.</div>
  <div ng-message="time">- Time field invalid.</div>
</div>
<div ng-messages="formAdd.itemType.$error" ng-if="formSubmitted" style="color:#ff6666" role="alert">
  <div ng-message="required">- Type field required.</div>
  <div ng-message="valid">- Type field invalid.</div>
</div>
<div ng-messages="formAdd.itemDate.$error" ng-if="formSubmitted" style="color:#ff6666" role="alert">
  <div ng-message="required">- Date field required.</div>
  <div ng-message="date">- Date field invalid.</div>
</div>
</form>
<h2>
List
</h2>
<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchQuery">
      </div>
    </div>
  </form>
<table class="table">
  <thead>
    <tr>
      <th><a href="javascript:void(0)" ng-click="sortType = 'itemTime'; sortReverse = !sortReverse">
        Time
        <span ng-show="sortType == 'itemTime' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'itemTime' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
      </a></th>
      <th><a href="javascript:void(0)" ng-click="sortType = 'itemType'; sortReverse = !sortReverse">
        Type
        <span ng-show="sortType == 'itemType' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'itemType' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
      </a></th>
      <th><a href="javascript:void(0)" ng-click="sortType = 'itemDate'; sortReverse = !sortReverse">
        Date
        <span ng-show="sortType == 'itemDate' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'itemDate' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
      </a></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="listTimeSpent.length == 0">
      <td colspan="4">Nenhum item cadastrado!</td>
    </tr>
    <tr ng-repeat="item in listTimeSpent | orderBy:sortType:sortReverse | filter:searchQuery">
      <td>{{item.itemTime}}</td>
      <td>{{item.itemType}}</td>
      <td>{{item.itemDate | date:'yyyy-MM-dd'}}</td>
      <td><a title="Remove" href="javascript:void(0)" ng-click="removeItem($index)"><span class="glyphicon glyphicon-remove-sign"></span></a> </td>
    </tr>
  </tbody>
</table>

</table>
<h2>
TOTAL TIME: {{sumTimeTotal}}
</h2>
