$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
  background: #434358;
  color: #aeaeb2;
}

h1, h2, h3, a, a:link, a:visited{
  color:#fff;
  text-decoration: none;
}

a:hover{
  color:#aeaeb2;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #2b2b38;
  margin-bottom: 10px;
  text-align: center;

  .logo {
    margin: 10px auto;
  }
}

.container {
  margin: 20px auto;
}

.form-inline legend{
  color: #fff;
}

.footer {
  padding-top: 19px;
  color: #fff;
  border-top: 1px solid #2b2b38;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    margin-bottom: 30px;
  }
}
