<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Luiza Labs</title>
    <style>
        *{
            margin:0;
            padding:0;
        }

        html, body{
            background: #181828;
            text-align:center;
        }

        a{
            color: #f6f6f6;
        }

        p{
            margin: 10px auto;
            text-align:center;
        }

        .logo{
            display:block;
            margin:40px auto;
        }

        .message-box{
            padding:20px;
            background:#AAAAEE;
            border-bottom:1px solid #181881;
            color:#181881;
        }


    </style>
</head>
<body>
    <div th:if="${message}" th:text="${message}" class="message-box"></div>
    <img src="/img/luizalabs-logo.png" class="logo" />
    <p>
        <a href="/logprocessor">Clique aqui para processar Log</a>
    </p>

    <p>
        <a href="/games">Clique aqui para listar todos os jogos</a>
    </p>
</body>
</html>